/* Colors */
:root {
--first-bg-color: #FFFFFF;
--second-bg-color: #F7F7F7;
--nav-list-color: #FFFFFF;
--nav-link-color: #FFFFFF;
/* Dark section */
--light-uppertitle-color: rgba(157, 164, 189, 0.6);
--light-title-color: #FFFFFF;
--light-text-color: #9DA4BD;
--light-button-color: #FFFFFF;
/* Light section */
--dark-uppertitle-color: #303030;
--dark-title-color: #303030;
--dark-text-color: #555555;
--dark-button-color:#303030;
/* Other */
--hover-focus: #FF6C00;
--hero-text-color: #9DA4BD;
--slider-btn-color: rgba(157, 164, 189, 0.6);
--img-background-clr: #111319;
}

/* Reset starts */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;
    color: currentColor;
    font-family: inherit;

}

image {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link {
    color: var(--nav-link-color);
    text-decoration: none;
}

/* Reset ends */
body {
    background-color: var(--first-bg-color);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;  

}
.section {
    padding: 120px 0;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

  
   
}
.button {
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    padding: 12px 19px;
}
.button:hover,
.button:focus {
    color:var(--hover-focus);
}
.dark-btn {
    color: var(--dark-button-color);
}
.light-btn {
    color: var(--light-button-color);
}

.title {
    color: var(--dark-title-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
}
.uppertitle {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.uppertitle::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--dark-title-color);

}
.light-uppertitle {
    color: rgba(157, 164, 189, 0.6);
}
.light-uppertitle::before {
    background-color: rgba(157, 164, 189, 0.6);
}
.dark-uppertitle {
    color: var(--dark-uppertitle-color);
}

.text {
    line-height: 1.66;
    color: var(--dark-text-color);
}

/* Header */
.header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;

    padding: 22px 0;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-logo {
    margin-right: 124px;

}
/* Navigation */
.header-nav {
    margin-right: auto;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-link,
.contact-numb {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

.header-link {
    position: relative; 
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
a.current-page {
    color: var(--hover-focus);
}
.header-link:hover,
.header-link:focus {
    color: var(--hover-focus);
}
.header-link::after {
    content:"";
    position: absolute;
    bottom: 12px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;

}
.header-link.current-page::after,
.header-link:hover::after,
.header-link:focus::after {
    background-color: var(--hover-focus);
}

.contact-numb {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 40px;
}
.contact-numb:hover,
.contact-numb:focus {
    color: var(--hover-focus);
}
.header-btn {
    margin-right: 20px;
}
/* Hero */
.hero-container {
    position: relative;
    display: flex;
}
.hero-right-side {
    flex-grow: 1;
    padding-top: 272px;
    padding-bottom: 208px;
    padding-left: 100px;

    background-color: var(--img-background-clr);
    background-image: url(../images/Hero/hero-img.jpg);
    background-position: center;
    background-size: cover;
}
.hero-uppertitle {
    color: var(--hero-text-color);
}
.hero-text {
    width: 360px;
    color: var(--hero-text-color);
}
.hero-left-side {
    width: 100px;
    display: flex;
    align-items: flex-end;
    
}
.media-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.media-list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: #303030;
}
.media-link {
    display: block;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
}
.media-link:hover,
.media-link:focus {
    color: var(--hover-focus);
}
/* Hero titles */
.main-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;    
    letter-spacing: 0.05em;
    color: var(--light-title-color);
    margin-bottom: 20px;
}
/* Pagination */
.slider-pagination {
    position: absolute;
    top: 50%;
    right: 35px;
}
.slider-pagination-item {
    width: 8px;
    height: 2px;
    margin-left: auto;
    background-color: rgba(157, 164, 189, 1);

}
.slider-pagination-item:not(:last-child) {
    margin-bottom: 12px;
}
.slider-pagination-item.active {
    width: 18px;
    background-color: var(--first-bg-color);
}
/* Hero controls-btn */
.controls-list {
    position:absolute;
    right: 35px;
    bottom: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.controls-button {
    background-color: transparent;
    color: var(--light-button-color);
    border: none;
    border-bottom: 1px solid var(--first-bg-color);

    width: 60px;
    padding: 0;
    padding-bottom: 8px;

    font-family: inherit;
    font-style: inherit;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;    
    letter-spacing: 0.1em;
       
}

.active-btn[disabled] {
    color: var(--slider-btn-color);
    border-color: var(--slider-btn-color) ;
}
.prev {
    text-align: left;
}
.next {
    text-align: right;
}

/* About-section */
.about-container {
    position: relative;
    display: flex;
    gap: 30px;
}

.about-list {
    display: flex;
    gap: 30px;
}
.about-info {
   width: 470px; 
}
.about-title {
    margin-bottom: 20px;
}
.about-text {
    margin-bottom: 20px;
}
.about-description {
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 1.86;
    color: var(--dark-text-color);
    
}

/* Price section */
#Price {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--img-background-clr);
    background-image: url(../images/prices/bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* Title */
.price-title {
    color: var(--light-title-color);
    margin-bottom: 44px;
}
.price-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.price-item {
    width: 570px;
    margin-bottom: 44px;
    border: 1px solid rgb(0, 0, 0);
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    padding: 30px 20px;
   
}
.price-inner-list {
    padding: 30px 20px;
}
.price-inner-item {
   display: flex;
   align-items: baseline;
   gap: 12px;
   margin-bottom: 20px;
   color: rgba(157, 164, 189, 1);
}
.price-inner-item:last-child {
    margin-bottom: 0;
}
.price-inner-item::before {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: rgba(157, 164, 189, 0.2);
   
}
.price-inner-service {
    order: -1;
}
.price-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Advantages */
/* list with numbers */
.priority-container {
    display: flex;
    gap: 30px;
}
.priority-left-side {
    width: 570px;
}
.priority-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
}
.priority-item {
    background-color: var(--second-bg-color);
    width: 170px;
    min-height: 133px;
    padding: 20px 24px;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.priority-item:nth-child(2n) {
    margin-top: 30px;
    margin-left: 30px;
}
.priority-numb {
    position: relative;
    display: inline-block;

    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
}

.priority-numb::after {
    content: "\002B";
    position: absolute;
    top: 7px;
    right: -15px;
    color: #FF6C00;
    
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
}

.priority-description {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    
}
.priority-right-side {
    width: 500px;
}
.priority-title {
    margin-bottom: 20px;
}
/* Our team */
#Barbers {
    background-color: var(--second-bg-color);
}
.barbers-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.barbers-item {
    text-align: center;
    width: calc(100% - ((60 / 2)*3));
}
.barbers-info {
    text-align: center;
    padding: 30px 15px;
}
.barbers-title {
    margin-bottom: 3px;
}
/* Position */
.barbers-position {
    color: #FF6C00;
}
/* Gallery */
.gallery-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.gallery-item {
    width: calc(100% - ((90 / 3)* 4))
}

/* Contacts */
.main-wrapper {
    background-color: #111319;;
}
#Contacts {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    
}
.contacts-title {
    margin-bottom: 44px;
}
.contacts-list {
    margin-bottom: 72px;
}
.contacts-link {
    font-weight: 700;
    font-style: normal;
    color:#9DA4BD;
}

.hours-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;    
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

/* Footer */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;    
    letter-spacing: 0.2em;
    color: #9DA4BD;
}
.footer-link {
    padding-top: 52px;
    padding-bottom: 52px;
}
.media-link {
    display: block;
}